body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: bisque;
    width: 98%;
    height: 99vh;
    padding: 7px;
    margin: 0;
}

header{
    background-color: coral;
    width: 100%;
    margin-top: 150px;
    padding: 7px;
    color: whitesmoke;
}

#content{
    width: 100%;
    padding: 5px;
    border: 2px solid coral;
}
input[type = text]{width: 300px}
input[type = text], button[onclick]{
    padding: 7px;
    border: 1px solid coral;
    filter: drop-shadow(1px 1px 2px coral);
}
button[onclick]{
    background-color: beige;
    color: coral;
}